header
    display: flex
    width: 100%
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 32px
    position: fixed
    background: var(--surface-color)
    box-shadow: var(--surface-shadow)
    z-index: 2
    top: 0
    left: 0
    transition: top 0.4s cubic-bezier(.17,.67,.79,.5)
    .container
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0
        height: 80px
        width: 100%
        max-width: 1416px
        .logo
            width: 131px
            height: 18px
            background-position: center
            background-repeat: no-repeat
            background-size: cover
        nav
            display: flex
            align-items: center
            gap: 8px
            a
                text-decoration: none
                font-style: normal
                font-weight: 500
                font-size: 16px
                line-height: 150%
                color: var(--text-color)
                display: flex
                align-items: center
                padding: 6px 16px 6px 12px
                gap: 6px
                opacity: 0.64
                border-radius: 38px
                transition: all 0.1s ease-in
                div
                    width: 20px
                    height: 20px
                    background-position: center
                    background-repeat: no-repeat
                    background-size: cover
            a:hover, a.active
                background: var(--hover-bg-color)
                opacity: 1
    .info
        display: flex
        align-items: center
        justify-content: center
        gap: 12px
        .nickname
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 150%
            color: var(--text-color)
        .dropdown
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            .avatar
                border-radius: 500px
                width: 44px

[data-theme="light"]
    header .container
        .logo   
            background-image: url('@assets/logo-green.svg') 
    .iconHome
        background-image: url('@assets/tabler-icon-home.svg')
    .iconSettings
        background-image: url('@assets/tabler-icon-settings.svg')
    .iconBlog
        background-image: url('@assets/tabler-icon-book.svg')
            

[data-theme="dark"]
    header .container
        .logo   
            background-image: url('@assets/logoDark.svg') 
    .iconHome
        background-image: url('@assets/tabler-icon-home-light.svg')
    .iconSettings
        background-image: url('@assets/tabler-icon-settings-light.svg')
    .iconBlog
        background-image: url('@assets/tabler-icon-book-light.svg')

.navMobile
    display: none

@media screen and (max-width: 720px)
    header
        padding: 16px
        .container
            height: auto
            nav
                display: none

    .navMobile
        display: flex
        width: 100%
        bottom: 0
        justify-content: space-between
        align-items: center
        position: fixed
        background: var(--surface-color)
        // border-top: 1px solid #DEDFE3
        box-shadow: var(--surface-shadow)
        z-index: 4
        padding: 12px 16px
        gap: 8px
        a
            text-decoration: none
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 150%
            color: var(--text-color)
            display: flex
            align-items: center
            padding: 6px 16px 6px 12px
            gap: 6px
            opacity: 0.64
            border-radius: 38px
            transition: all 0.1s ease-in
            div
                width: 20px
                height: 20px
                background-position: center
                background-repeat: no-repeat
                background-size: cover
        a:hover, a.active
            background: var(--hover-bg-color)
            opacity: 1

@media screen and (max-width: 350px)
    header
        .info
            .nickname
                display: none