.container
    width: 100%
    max-width: 456px
    height: max-content
    background: var(--surface-color)
    box-shadow: var(--surface-shadow)
    border-radius: 12px
    .heading
        color: var(--text-color)
        padding: 16px 16px 12px
        border-bottom: 1px solid var(--hover-bg-color)
        font-weight: 500
        font-style: Medium
        font-size: 20px
        leading-trim: NONE
        line-height: 28px
        letter-spacing: -2%
        text-align: justify
        vertical-align: middle
    .formContainer
        padding: 16px
        display: flex
        flex-direction: column
        gap: 16px